.row {
    color: #fff;
    border-radius: 1rem;
    border: 1px solid #5d5757;
    margin: 30px 20px;
    position:relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value:0deg;
    inherits: false;
    }
.row:hover::after, .row:hover::before{
    content: '';
    position:absolute;
    height:100%;
    width:100%;
    background-image: conic-gradient(from var(--angle), #00bfff80, #000000, #000000, #000000, #00bfff80);
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index:-1;
    padding:3px;
    border-radius:10px;
    animation: 3s spin linear infinite;
}
.row::before{
    filter: blur(1.8rem);
    opacity:0.5;
    }
    @keyframes spin{
    from{
    --angle:0deg;
    }
    to{
    --angle:360deg;
    }
    }
 
.posters-container {
    overflow: hidden; /* Ensures no vertical scrolling */
    width: 100%;
}
 
.posters {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding: 10px;
   
}
 
.posters::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
 
.poster {
    max-height: 200px;
    margin-right: 10px;
    transition: transform 0.2s;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.SmallPoster {
    max-height: 200px;
    margin-right: 10px;
    transition: transform 0.2s;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.poster:hover,
.SmallPoster:hover {
    transform: scale(1.1);
    margin-left: 15px;
    margin-right:25px;
    border: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 0 10px #00bfff80;
}